<!DOCTYPE html>
<html lang="en">
<head>
	<title>Get a star</title>
	 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<style>
  body {
  background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

</style>
</head>
<body>

<div class="container width=50% bg-light mt-5 mb-2">
	<form action="" method="post">
 <div class="form-group ">
	 <label for="question"><h3 class="font-weight-bold">Question:</h3></label>
  <textarea class="form-control form-control-lg border border-dark" rows="3" name="question" id="question"></textarea>
	 <br>
	 <label class="display-4" for="situation"><h3 class="font-weight-bold">Situation:</h3></label>
  <textarea class="form-control form-control-lg border border-dark" rows="3" name="situation" id="situation"></textarea>
	 <br>
	 <label class="display-4" for="task"><h3 class="font-weight-bold">Task:</h3></label>
  <textarea class="form-control form-control-lg border border-dark" rows="3" name="task" id="task"></textarea>
	 <br>
	 <label class="display-4" for="action"><h3 class="font-weight-bold">Action:</h3></label>
  <textarea class="form-control form-control-lg border border-dark" rows="3" name="action" id="action"></textarea>
	 <br>
	 <label class="display-4" for="result"><h3 class="font-weight-bold">Result:</h3></label>
  <textarea class="form-control form-control-lg border border-dark"  rows="3" name="result" id="result"></textarea>
	 <br>
	 <label class="display-4" for="module"><h3 class="font-weight-bold">Module:</h3></label>
  <textarea class="form-control form-control-lg border border-dark" rows="3" name="module" id="module"></textarea>
	 <br>
</div>
	<div class="text-center pb-2">
	<button class="btn btn-primary btn-lg">
								Submit
							</button>
	</div>
	</form>
</div>
</body>
</html>
